{% extends 'dashboard/base.html' %} {% block dashboard %}

<br />

<div class="jumbotron text-center">
  <h1 class="display-3">Validity Expired!</h1>
  <p class="lead">
    <strong
      >Please renew your subscription to continue to access DashBolt</strong
    >
  </p>
  <hr />
  <p>
    Want to get in touch with us? Mail us at:
    <a href="#">dashbolt@optimalytics.in</a>
  </p>
  <p class="lead">
    <a
      class="btn btn-primary btn-sm"
      href="{% url 'logout_page' %}"
      role="button"
      >Logout</a
    >
  </p>
</div>

{% endblock dashboard %}
