{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{%block dashboard %}
<div class="container">
    <div class="row">
        <div class="d-flex flex-row justify-content-between align-items-center mb-3">
            <div class="col-6">
                <legend><strong>TALLY SETTINGS</strong></legend>
            </div>
            <div class="col-auto">
                <a class="btn" href="{% url 'create_tally_settings' %}"type="button" name="button" style="background:#f27ea2;color:white;"></i>Add Settings</a>    
            </div>
        </div>
        <div class="col-md-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>          
        <div class="col-md-12">
            <table class = 'table table-hover table-bordered table-sm' style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th scope="col" >Company Name in Tally</th>
                        <th scope="col" >Tally Begin Date</th>
                        <th scope="col" >Tally Running Port</th>
                        <th scope="col" >Tally Account ID</th>
                        <th scope="col" >Computer Name</th>
                        <th scope="col" >Users</th>
                        <th scope="col" class = 'text-center align-middle'>Edit</th>
                        <th scope="col" class = 'text-center align-middle'>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in tally_detail_list %}
                    <tr>
                        <td class="align-start">{{detail.name}}</td>
                        <td class="align-start">{{detail.tally_begin_date|date:'d-M-Y'}}</td>
                        <td class="align-start">{{detail.tally_port}}</td>
                        <td class="align-start">{{detail.account_id}}</td>
                        <td class="align-start">{{detail.computer_name}}</td>
                        <td class="align-start"><a href="{% url 'valid_users' detail.pk %}">Access List</a></td>
                        <td class = 'text-center align-middle'>
                            <a href="{% url 'update_tally_settings' detail.pk %}"><span class="material-icons align-middle">edit</span></a>
                        </td>
                        <td class = 'text-center align-middle'>
                            <a href="{% url 'delete_tally_settings' detail.pk %}"><span class="material-icons align-middle" style="color:red;">delete</span></a>
                        </td>
                    </tr>
                    {% empty %}
                    <p>No Tally Settings to Display</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div> 
</div>

{% endblock %}